<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
  <ul class="breadcrumb">
    <li>
      <p><%= link_to 'Home', admin_root_path %></p>
    </li>
    <li><a href="#" class="active">Action Page's</a></li>
  </ul>
  <!-- END BREADCRUMB -->
  <h3 class="page-title">Action Pages</h3>
  <%= link_to 'New Action Page', new_admin_action_page_path %>
</div>

<div class="container-fluid container-fixed-lg">
      <table id="myDataTable" class="table table-hover" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Title</th>
          <th>Slug</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Active</th>
        </tr>
        </thead>
        <tbody>
        <% @action_pages.each do |action_page| %>
            <tr>
              <td><%= action_page.banner_title %></td>
              <td><%= action_page.slug %></td>
              <td><%= action_page.brand.try(:name) || 'Alle autos' %></td>
              <td><%= action_page.try(:model).try(:name) %></td>
              <td><%= action_page.active? %></td>
              <td>
                <%= link_to 'View', action_page_path(action_page), class: 'btn btn-primary', target: :blank %>
                <%= link_to 'Edit', edit_admin_action_page_path(action_page), class: 'btn btn-info' %>
                <%= link_to 'Delete', admin_action_page_path(action_page), confirm: 'Are you sure you want to delete this action_page?', method: :delete, class: 'btn btn-danger' %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
</div>

<% content_for :footer do %>
<% end %>