<%= render partial: 'layouts/breadcrumb' %>

<section class="page-faq">
  <div class="wrapper">
    <h1>Veel gestelde vragen</h1>

    <ul>

      <% @faqs.each do |faq| %>
          <li>
            <h2><a href="#question-<%= faq.id %>"><%= faq.question %></a></h2>

            <div class="description"><%= faq.answer %></div>
            <!-- .description -->
          </li>
      <% end %>
    </ul>

  </div>
  <!-- .wrapper -->
</section> <!-- .page-faq -->



<section class="search-navigation">
  <div class="wrapper">
    <ul>
      <li>
        <a href="" class="back">Financiaringen</a>
      </li>
      <li>
        <a href="<%= root_path %>" class="center">Homepage</a>
      </li>
      <li>
        <a href="" class="forward">Voorraad</a>
      </li>
    </ul>
  </div>
  <!-- .wrapper -->
</section> <!-- .search-navigation -->


<%= render partial: 'layouts/footer_complex' %>
