<%= render partial: 'layouts/breadcrumb' %>

<section class="blog-header">
  <div class="wrapper">
    <h1>Auto op afbetaling</h1>

    <div class="description">
      <p>Een gebruikte auto leasen: "tweedehands auto lease, goedkoop en snel gevonden." <br />
        Het is geen gloednieuwe auto, maar een jonge tweedehands auto tegen een onwijs scherp lease tarief! </p>
    </div> <!-- .description -->
  </div> <!-- .wrapper -->
</section> <!-- .blog-header -->


<section class="blog-listing">
  <div class="wrapper">
    <article>
      <div class="left">
        <div class="text marine">
          <div class="description">
            <h1>Koop nu een auto en betaal pas over 14 maanden</h1>

            <p>Iedereen wil toch snel rijden en liefst later betalen! Bij ons rijdt u meteen betaaalt u achteraf. U bepaalt zelf wanneer en hoe u betaalt. In een keer binnen 14 maanden of tussendoor in gemakkelijke termijnen. Binnen een jaar niet terug betaald? Geen probleem. Het bedrag wat u nog verschuldigd bent wordt gedeeld door 60 en dit betaald u dan per maand tot u alles heeft terug betaald. U bent direct eigenaar van de auto, die u wilt. De eerste 14 maanden betaalt u geen rente en aanbetaling is niet altijd nodig. Aanbetaling zit vaak in uw inruilauto. Lekker slim en eenvoudig geld lenen zonder extra kosten. Ook voor service vragen wij het aan bij onze bank. Wij hebben alleen nodig van u: bewijs van inkomsten en woonkomen, de laatste bankafschrift en uw legitimatie.</p>

            <h2>Auto Lease</h2>

            <p>Ook voor de financiering van uw auto kunt u terecht. In samenwerking met DFT Financial Services bieden wij u diverse mogelijkheden om een occasion of nieuwe auto te leasen, waarbij u van tevoren precies weet waar u aan toe bent. U betaalt uw auto in 12 tot 60 maandelijkse termijnen, afhankelijk van uw wensen. Met deze duidelijke financiering voor uw auto, komt u nooit voor verrassingen te staan. Vraag ons naar de voorwaarden!</p>
          </div> <!-- .description -->
        </div> <!-- .text -->
      </div> <!-- .left -->


      <div class="right">

        <figure>
          <%= image_tag 'info-images/financing-couple.jpg' %>
        </figure>

        <div class="text">
          <h2>Voordelen huurkoop service</h2>

          <div class="description">

            <ul class="checks">
              <li>Direct auto rijden!</li>
              <li>Nooit afwijzing!</li>
              <li>Geen BKR toetsing!</li>
              <li>Geen grote investeringen!</li>
              <li>Duidelijke betalingsafspraken!</li>
              <li>Nu rijden, later betalen!</li>
              <li>Altijd keuze uit meer dan 50 occasions!</li>
            </ul> <!-- .checks -->

          </div> <!-- .description -->
        </div> <!-- .text -->
      </div> <!-- .left -->
    </article>

    <article class="left-side-text">
      <div class="text">
        <h1>Financial Lease voor bedrijven</h1>

        <div class="description">
          <p>In samenwerking met onze partner DFT bieden wij u zakelijke kredietverlening op maat: DFT Financial Services. In deze vorm hoeft u niet uw eigen vermogen vast te leggen in de auto(ís). Bovendien worden eventuele kredietfaciliteiten bij de bank niet aangetast. Met deze financiering kunt u een occasion leasen op een manier die past bij uw wensen en behoeften.</p>
        </div> <!-- .description -->
      </div> <!-- .text -->

      <figure>
        <%= image_tag 'info-images/vw-concept.jpg' %>
      </figure>
    </article>


    <article class="split-in-three">

      <div class="left none">
        <div class="text two-thirds mini-ad">
          <h2>Zakelijke financiering</h2>

          <div class="description">
            <p>Financial lease</p>
          </div> <!-- .description -->

          <div class="read-more">
            <a class="btn btn-small">
              Direct berekenen
            </a>
          </div> <!-- .read-more -->
        </div> <!-- .text -->
      </div> <!-- .left -->

      <div class="right">
        <div class="text marine">
          <h1>Particulieren</h1>

          <div class="description">

            <p>Ook als particulier is het mogelijk een occasion te leasen en zo de betaling ervan te spreiden. U kunt direct genieten van uw aankoop! Bij het leasen van een auto als particulier is inruil mogelijk. Wij kunnen u een financiering aanbieden met een slottermijn die in overeenstemming is met de restwaarde van uw auto, waardoor de maandelijkse leasetermijn nog lager uitvalt.</p>

          </div> <!-- .description -->
        </div> <!-- .text -->
      </div> <!-- .right -->

    </article>


    <article>

      <div class="left">
        <div class="text marine">
          <h1>Hoe huurkoop service werkt</h1>

          <div class="description">

            <ul>
              <li>U zoekt bij ons een occasion uit.</li>
              <li>U betaalt 50% aan.</li>
              <li>Het resterende bedrag kunt u maandelijks aflossen.</li>
              <li>Aflossen is mogelijk in 3, 6, 14 of 24 maanden.</li>
              <li>Minimaal aflossing per maand is 100,-</li>
              <li>Nadat u alle termijnen heeft betaald, wordt u de eigenaar.</li>
            </ul>

          </div> <!-- .description -->
        </div> <!-- .text -->
      </div> <!-- .left -->

      <div class="right none split-in-three">
        <div class="text two-thirds mini-ad bottom">
          <h2>Particuliere financiering</h2>

          <div class="description">
            <p>U bepaald hoeveel u betaald!</p>
          </div> <!-- .description -->

          <div class="read-more">
            <a class="btn btn-small">
              Direct berekenen
            </a>
          </div> <!-- .read-more -->
        </div> <!-- .text -->
      </div> <!-- .right -->

    </article>
  </div> <!-- .wrapper -->
</section> <!-- .blog-listing -->

<%= render partial: 'layouts/search_navigation' %>
<%= render partial: 'layouts/footer_simple' %>