<%= render partial: 'layouts/breadcrumb' %>

<section class="blog-header">
  <div class="wrapper">
    <h1>Auto lease de mogelijkheden</h1>

    <div class="description">
      <p>Bent u zelfstandig ondernemer en heeft u een goede en representatieve auto nodig? <br/>
        Dan bied Auto Service Haarlem in samenwerking met diverse banken en tussenpersonen één van de grootste en meest <br />
        diverse lease-voorraad in Nederland aan!  Bent u startende ondernemer, zzp’er? Heeft u een eenmanszaak,BV of andere rechtsvorm?<br />
        Auto Service Haarlem bied altijd de juiste mogelijkheden!</p>
    </div> <!-- .description -->
  </div> <!-- .wrapper -->
</section> <!-- .blog-header -->




<section class="blog-listing">
  <div class="wrapper">
    <article>
      <div class="left">
        <div class="text marine">
          <h1>Financial Lease met huurkoop</h1>

          <div class="description">
            <p>De meest voorkomende en voordeligste manier van leasen is Financial Lease. Deze vorm van leasen kent een vaste looptijd en een vast maandtermijn. Omdat het economisch eigendom van de auto bij u ligt bent u zelf verantwoordelijk voor de verzekering, wegenbelasting en het onderhoud. Omdat dit niet is meegenomen in de leaseprijs heeft u de kosten van o.a. het onderhoud zelf in de hand. Dit is te allen tijde een veel lager bedrag dan de ruime schatting welke de lease maatschappij maakt.</p>

            <p>In het geval van een BTW auto kunt u de BTW over het aankoopbedrag direct terug vorderen bij de belastingdienst.  Aan het einde van de looptijd als alle termijnen zijn voldaan blijft de auto uw eigendom. Indien u de auto verkoopt is komt het bedrag wat de auto opbreng aan u toe.  De maandtermijn kunt u aanpassen naar een door u gewenst bedrag. Dit kan eventueel door middel van een slottermijn. Een slottermijn is een laatste termijn in de gehele looptijd.</p>

            <p>U "bewaart" als het ware een bepaald bedrag dat u het laatst in een keer voldoet. Het maandbedrag valt nu lager uit omdat dit bedrag dan niet voor het maandbedrag wordt meegerekend, en dus blijft "openstaan" tot en met de laatste maand. Een slottermijn is dus een aflossingsvrij deel . U kunt de slottermijn voldoen door de auto bijvoorbeeld in te ruilen op weer een nieuwe(re) auto welke u wilt financieren. Tevens is het mogelijk de slottermijn te herfinancieren. Uw financiering loopt dan als het ware gewoon door.</p>
          </div> <!-- .description -->
        </div> <!-- .text -->
      </div> <!-- .left -->

      <div class="right none">

        <figure>
          <%= image_tag 'info-images/financial-lease-handshake.jpg' %>
        </figure>

        <div class="text">
          <h2>Voordelen van Full Financial Lease</h2>

          <div class="description">
            <ul class="checks">
              <li>Flexibel </li>
              <li>Scherpe tarieven </li>
              <li>U bent economisch eigenaar van de auto </li>
              <li>Auto staat bij u op de balans</li>
              <li>U kunt de BTW direct terug vorderen </li>
              <li>bij de belastingdienst</li>
            </ul>
          </div> <!-- .description -->
        </div> <!-- .text -->
      </div> <!-- .left -->
    </article>

    <div class="line split-in-three">
      <div class="left">
        <figure>
          <%= image_tag 'info-images/renault-4x4.jpg' %>
        </figure>
      </div> <!-- .left -->

      <div class="right none">

        <div class="text two-thirds mini-ad full-height">
          <h2>Zakelijke financiering</h2>

          <div class="description">
            <p>Financial lease</p>
          </div> <!-- .description -->

          <div class="read-more">
            <a class="btn btn-small">
              Direct berekenen
            </a>
          </div> <!-- .read-more -->
        </div> <!-- .text -->
      </div> <!-- .right -->
    </div> <!-- .line -->
  </div> <!-- .wrapper -->
</section> <!-- .blog-listing -->

<%= render partial: 'layouts/search_navigation' %>
<%= render partial: 'layouts/footer_simple' %>