<%= render partial: 'layouts/breadcrumb' %>

<section class="blog-header">
  <div class="wrapper">
    <h1><%= @blog_page.title %></h1>

    <div class="description">
      <p><%= @blog_page.content.html_safe %></p>
    </div> <!-- .description -->
  </div> <!-- .wrapper -->
</section> <!-- .blog-header -->

<section class="blog-listing">
  <div class="wrapper">
    <article>
      <div class="left marine">
        <div class="text marine">
          <%= @blog_page.templateable.blue_block_left_1.html_safe %>
        </div> <!-- .text -->

        <figure>
          <%= image_tag @blog_page.templateable.image_left_1 %>
        </figure>
      </div> <!-- .left -->

      <div class="right">

        <figure>
          <%= image_tag @blog_page.templateable.image_right_1 %>
        </figure>

        <div class="text">
          <%= @blog_page.templateable.white_block_right_1.html_safe %>
        </div> <!-- .text -->
      </div> <!-- .left -->
    </article>

    <div class="line split-in-three">
      <div class="left none">

        <div class="text two-thirds mini-ad on-right">
          <h2>Zakelijke financiering</h2>

          <div class="description">
            <p>Financial lease</p>
          </div> <!-- .description -->

          <div class="read-more">
            <a class="btn btn-small">
              Direct berekenen
            </a>
          </div> <!-- .read-more -->
        </div> <!-- .text -->

      </div> <!-- .left -->

      <div class="right none">&nbsp;</div> <!-- .right -->
    </div> <!-- .line -->
  </div> <!-- .wrapper -->
</section> <!-- .blog-listing -->


<%= render partial: 'layouts/search_navigation' %>
<%= render partial: 'layouts/footer_simple' %>