<%= render partial: 'layouts/breadcrumb' %>

<section class="article-header">
  <div class="wrapper">
    <figure>
      <%= image_tag @blog_page.templateable.top_image %>
    </figure>

    <div class="text marine">
      <%= @blog_page.templateable.blue_block.html_safe %>
    </div> <!-- .text -->
  </div> <!-- .wrapper -->
</section> <!-- .article-header -->


<section class="blog-listing">
  <div class="wrapper">
    <article class="split-in-three">

      <div class="text two-thirds orange">
        <%= @blog_page.templateable.orange_block.html_safe %>
      </div> <!-- .text two-thirds -->

      <div class="text one-third mini-ad">
        <h2>Particuliere financiering</h2>

        <div class="description">
          <p>U bepaald hoeveel u betaald!</p>
        </div> <!-- .description -->

        <div class="read-more">
          <a class="btn btn-small">
            Direct berekenen
          </a>
        </div> <!-- .read-more -->
      </div> <!-- .text one-third -->

    </article> <!-- .split-in-three -->
  </div> <!-- .wrapper -->
</section> <!-- .blog-listing -->


<%= render 'blog_pages/navigation' , page: @blog_page %>
<%= render partial: 'layouts/footer_simple' %>