<%= render partial: 'layouts/breadcrumb' %>

<section class="blog-header">
  <div class="wrapper">
    <h1>Full operational lease</h1>

    <div class="description">
      <p>Wilt u voor langere tijd af van de rompslomp die een eigen auto met zich mee brengt? <br />
        Eén vaste maandprijs overeenkomen en u geen zorgen hoeven maken over onvoorziene kosten zoals verzekering, reparatie en onderhoud, dan kiest u voor Full Operationeel Lease. Bij deze leasevorm zitten al deze aanverwante zaken namelijk verwerkt in de maandtermijn.</p>

      <p>Betaal voor de services die u nodig heeft Inclusief: wegenbelasting Inclusief: verzekeringen Inclusief: reparaties, onderhoud en banden. <br />
        De auto staat op naam van de lease maatschappij waardoor er geen schuld op uw balans komt te staan.</p>
    </div> <!-- .description -->
  </div> <!-- .wrapper -->
</section> <!-- .blog-header -->




<section class="blog-listing">
  <div class="wrapper">

    <article>
      <div class="left">
        <div class="text marine">
          <h1>Autofinanciering de mogelijkheden</h1>

          <div class="description">
            <p>Een persoonlijke lening, doorlopend krediet en uitgestelde betaling zijn de meest voorkomende manieren om de aankoop van een auto te financieren. Een persoonlijke lening kent een vaste looptijd en een vaste rente. Op deze wijze is de looptijd van de autofinanciering goed af te stemmen op de levensduur van de auto en weet u gedurende de looptijd van de lening precies waar u aan toe bent.</p>
          </div> <!-- .description -->
        </div> <!-- .text -->

        <figure>
          <%= image_tag 'info-images/volvo-back.jpg' %>
        </figure>
      </div> <!-- .left -->

      <div class="right">

        <figure>
          <%= image_tag 'info-images/financial-lease-handshake.jpg' %>
        </figure>

        <div class="text">
          <h2>50/50 Deal: Betaal nu de helft en het overige deel binnen 2 of 3 jaar zonder rente!</h2>

          <div class="description">
            <ul class="checks">
              <li>Looptijd 24/36 maanden</li>
              <li>Aanbetaling minimaal 50%</li>
              <li>0% rente </li>
              <li>Voor zowel nieuwe als gebruikte auto’s</li>
              <li>Boetevrij aflossen</li>
            </ul>
          </div> <!-- .description -->
        </div> <!-- .text -->
      </div> <!-- .left -->
    </article>

    <div class="line split-in-three">
      <div class="left none">

        <div class="text two-thirds mini-ad on-right">
          <h2>Zakelijke financiering</h2>

          <div class="description">
            <p>Financial lease</p>
          </div> <!-- .description -->

          <div class="read-more">
            <a class="btn btn-small">
              Direct berekenen
            </a>
          </div> <!-- .read-more -->
        </div> <!-- .text -->

      </div> <!-- .left -->

      <div class="right none">&nbsp;</div> <!-- .right -->
    </div> <!-- .line -->
  </div> <!-- .wrapper -->
</section> <!-- .blog-listing -->


<%= render partial: 'layouts/search_navigation' %>
<%= render partial: 'layouts/footer_simple' %>