<%= render partial: 'layouts/breadcrumb' %>

<section class="blog-header">
  <div class="wrapper">
    <h1>Lease gebruikte auto's</h1>

    <div class="description">
      <p>Een gebruikte auto leasen: "tweedehands auto lease, goedkoop en snel gevonden." <br />
        Het is geen gloednieuwe auto, maar een jonge tweedehands auto tegen een onwijs scherp lease tarief! </p>
    </div> <!-- .description -->
  </div> <!-- .wrapper -->
</section> <!-- .blog-header -->


<section class="blog-listing">
  <div class="wrapper">
    <article>
      <div class="left">
        <div class="text marine">
          <div class="description">
            <p>Het leasen van een tweedehands auto is een zeer interessante mogelijkheid voor (zelfstandige) ondernemers die tegen lage kosten toch de weg op willen. Wij bieden deze mogelijkheid dan ook aan. Op het moment dat u besluit een tweedehands auto te gaan leasen dan wordt u voorzien van een auto die relatief kort gebruikt is. Met een geselecteerde voorraad van onze samenwerkende dealers zorgen wij dat ondernemend Nederland ruimte heeft om te ondernemen. Een(jonge) gebruikte auto leasen in combinatie is heel voordelig. Immers, de grootste afschrijving op een auto vindt plaats in de eerste 2 jaar. Bij het leasen van een gebruikte auto, waarbij de grootse afschrijving al achter de rug is, hoeft u minder af te schrijven waardoor de leasetermijn nog aantrekkelijker wordt. Bij ons kunt u een gebruikte auto leasen waarbij u (economisch) eigenaar bent. Hierdoor profiteert u van fiscale voordelen zoals rente- en investeringsaftrek. Tevens kunt u de BTW van de aanschafprijs terugvorderen van de fiscus.</p>

            <p>Wilt u een tweedehands auto leasen en weten waar u uit kan kiezen? U kunt een tweedehands auto leasen ongeacht uw voorkeur voor type wagen. Er wordt immens veel geboden zowel personen- als bedrijfswagens aan. Wij hebben een goede samenwerking met gerenommeerde autobedrijven in het land en zijn daardoor constant voorzien van een breed aanbod aan lease auto’s.</p>

            <p>Zoals hierboven aangegeven, wordt u ook daadwerkelijk eigenaar van de wagen, wat uiteraard een prettige gedachte is.</p>

            <p>Wij zijn onafhankelijk in de markt en zijn niet gebonden aan een bepaalde financiÎle instelling. Hierdoor zijn wij constant voorzien van de scherpste tarieven en kunnen wij u voorstellen doen die qua prijs aan de onderkant van de markt zitten. Kortom, voordelig, snel en goed geregeld! Een gebruikte auto leasen geeft u zekerheid, gemak en flexibiliteit. Tweedehands lease bedrijven kennen gedurende de looptijd een vaste afschrijving, vaste maandelijkse lage leasetermijnen en geen kilometer beperkingen. U weet dus precies waar u aan toe bent</p>
          </div> <!-- .description -->
        </div> <!-- .text -->
      </div> <!-- .left -->


      <div class="right">

        <figure>
          <%= image_tag 'info-images/financing-couple.jpg' %>
        </figure>

        <div class="text">
          <h2>Voordelen van 2e hands auto Lease</h2>

          <div class="description">

            <ul class="checks">
              <li>U least de auto tegen een kortere en flexibele looptijd.</li>
              <li>Snel inzetbare en beschikbare auto’s</li>
              <li>Ruime keus uit onze online voorraad</li>
              <li>Snelle beslissing (binnen 1  dag behandeld)</li>
              <li>Uw wordt economisch eigenaar van de auto.</li>
              <li>Na afloop leaseperiode is de auto uw eigendom</li>
              <li>Stukken goedkoper dan het leasen van een nieuwe auto.</li>
              <li>Laag en vast rentepercentage</li>
              <li>U kunt uw oude auto bij ons inruilen</li>
              <li>Aanbetalen mag, maar is niet noodzakelijk</li>
            </ul> <!-- .checks -->

          </div> <!-- .description -->
        </div> <!-- .text -->
      </div> <!-- .left -->
    </article>

    <article class="left-side-text">
      <div class="text">
        <h1>Het gemak van een gebruikte auto leasen</h1>

        <div class="description">
          <p>Een gebruikte auto leasen is vooral gemakkelijk. U dient online uw aanvraag voor een lease-auto in. De nodige gegevens worden opgevraagd nu hoeft dus niet zelf allerlei documenten op te vragen en beoordeelt de aanvraag. Er wordt soepel gewerkt in het beoordelen van uw aanvraag. De auto is immers ons onderpand, indien blijkt dat u de vaste maandlasten niet kunt betalen. Uw wordt snel aangevraagd: u kunt al binnen enkele dagen een gebruikte auto leasen en belangrijker ermee rijden.</p>
        </div> <!-- .description -->
      </div> <!-- .text -->

      <figure>
        <%= image_tag 'info-images/vw-concept.jpg' %>
      </figure>
    </article>


    <article class="split-in-three">

      <div class="left">
        <div class="text marine">
          <h1>Ook intressant voor ZZP’ers</h1>

          <div class="description">
            <p>Als beginnend ZZPíer is het soms wat moeilijker om aan een lease te komen. Een tweedehands lease kan dan een goede optie zijn, omdat er vaak geen borg en/of aanbetaling betaald hoeft te worden. Ook is het vaak mogelijk om een tweedehands wagen per maand te leasen: de zogenoemde shortlease. Heeft u toch nog moeite met het beslissen van een auto leasen? Wij bieden ook lease-adviseurs. Dit zit in ons service en is dus geheel gratis.</p>

            <p>Voor meer informatie kunt u ons mailen, oftewel wij zijn bereikbaar op 023 792 00 02</p>
          </div> <!-- .description -->
        </div> <!-- .text -->
      </div> <!-- .left -->

      <div class="right none">
        <div class="text two-thirds mini-ad bottom">
          <h2>Particuliere financiering</h2>

          <div class="description">
            <p>U bepaald hoeveel u betaald!</p>
          </div> <!-- .description -->

          <div class="read-more">
            <a class="btn btn-small">
              Direct berekenen
            </a>
          </div> <!-- .read-more -->
        </div> <!-- .text -->
      </div> <!-- .right -->

    </article>
  </div> <!-- .wrapper -->
</section> <!-- .blog-listing -->

<%= render partial: 'layouts/search_navigation' %>
<%= render partial: 'layouts/footer_simple' %>