<%= render partial: 'layouts/breadcrumb' %>

<section class="article-header">
  <div class="wrapper">
    <figure>
      <%= image_tag 'info-images/opel-eyetracking-header.jpg' %>
    </figure>

    <div class="text marine">
      <h1>Opel werkt aan eyetracking lampen</h1>

      <div class="description">
        <p>Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue.</p>

        <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      </div> <!-- .description -->
    </div> <!-- .text -->
  </div> <!-- .wrapper -->
</section> <!-- .article-header -->


<section class="blog-listing">
  <div class="wrapper">
    <article class="split-in-three">

      <div class="text two-thirds orange">
        <h1>Particulier</h1>
        <div class="description">
          <p>Ook als particulier is het mogelijk een occasion te leasen en zo de betaling ervan te spreiden. U kunt direct genieten van uw aankoop! Bij het leasen van een auto als particulier is inruil mogelijk. Wij kunnen u een financiering aanbieden met een slottermijn die in overeenstemming is met de restwaarde van uw auto, waardoor de maandelijkse leasetermijn nog lager uitvalt.</p>
        </div> <!-- .description -->

        <div class="read-more">
          <a class="btn btn-smaller white" href="<%= blog_page_path('lease_gebruikte_autos') %>">
            Lees verder
          </a>
        </div> <!-- .read-more -->
      </div> <!-- .text two-thirds -->

      <div class="text one-third mini-ad">
        <h2>Particuliere financiering</h2>

        <div class="description">
          <p>U bepaald hoeveel u betaald!</p>
        </div> <!-- .description -->

        <div class="read-more">
          <a class="btn btn-small">
            Direct berekenen
          </a>
        </div> <!-- .read-more -->
      </div> <!-- .text one-third -->

    </article> <!-- .split-in-three -->
  </div> <!-- .wrapper -->
</section> <!-- .blog-listing -->


<%= render partial: 'layouts/search_navigation' %>
<%= render partial: 'layouts/footer_simple' %>