<%= render partial: 'layouts/breadcrumb' %>

<section class="article-header">
  <div class="wrapper">
    <figure>
      <%= image_tag 'info-images/service-header.jpg' %>
    </figure>

    <div class="text">
      <h1>Onze werkplaats</h1>

      <div class="description">
        <p>Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue.</p>

        <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      </div> <!-- .description -->
    </div> <!-- .text -->
  </div> <!-- .wrapper -->
</section> <!-- .article-header -->


<section class="blog-listing">
  <div class="wrapper">

    <article class="split-in-three">

      <figure class="one-third">
        <%= image_tag 'info-images/service.jpg' %>
      </figure> <!-- .one-third -->

      <div class="text one-third small marine">
        <h1>Hoe huurkoop service werkt</h1>
        <div class="description">
          <ul>
            <li>U zoekt bij ons een occasion uit.</li>
            <li>U betaalt 50% aan.</li>
            <li>Het resterende bedrag kunt u maandelijks aflossen.</li>
            <li>Aflossen is mogelijk in 3, 6, 14 of 24 maanden.</li>
            <li>Minimaal aflossing per maand is 100,-</li>
            <li>Nadat u alle termijnen heeft betaald,  wordt u de eigenaar.</li>
          </ul>
        </div> <!-- .description -->
      </div> <!-- .text one-third -->

      <div class="text one-third mini-ad">
        <h2>Zakelijke financiering</h2>

        <div class="description">
          <p>Financial lease</p>
        </div> <!-- .description -->

        <div class="read-more">
          <a class="btn btn-small">
            Direct berekenen
          </a>
        </div> <!-- .read-more -->
      </div> <!-- .text one-third -->

    </article> <!-- .split-in-three -->
  </div> <!-- .wrapper -->
</section> <!-- .blog-listing -->

<%= render partial: 'layouts/search_navigation' %>
<%= render partial: 'layouts/footer_simple' %>