<%= render partial: 'layouts/breadcrumb' %>

<section class="blog-header">
  <div class="wrapper">
    <h1>Voordelen van Financial Lease</h1>

    <div class="description">
      <p>Financial lease levert u een aantal interessante voordelen op. Zo betaalt u een lening in vaste maandelijkse termijnen terug. <br/>
        De hoogte van de maandtermijn bepaalt u zelf. U kunt een hoger bedrag per maand betalen of voor een slottermijn kiezen.<br/>
        Daarnaast bent u met financial lease economisc</p>
    </div> <!-- .description -->
  </div> <!-- .wrapper -->
</section> <!-- .blog-header -->




<section class="blog-listing">
  <div class="wrapper">
    <article>
      <div class="left marine">
        <div class="text marine">
          <h1>Financial Lease met huurkoop</h1>

          <div class="description">
            <p>Bij financial lease met huurkoop lost u de lening in vaste termijnen af. Ondertussen heeft u de auto of het bedrijfsmiddel in bruikleen. Tot het eind van de looptijd blijft de leasemaatschappij eigenaar. Daarna is de auto of het bedrijfsmiddel van u.</p>

            <h2>Financial lease met pandrecht</h2>

            <p>Een auto of bedrijfsmiddel kunt u bij een leasemaatschappij in onderpand geven. U houdt het aankoopbedrag dan nog even in eigen zak en betaalt uw lening in vaste termijnen af. Aan het eind van de looptijd vervalt de verpanding.</p>
          </div> <!-- .description -->
        </div> <!-- .text -->

        <figure>
          <%= image_tag 'info-images/volvo-back.jpg' %>
        </figure>
      </div> <!-- .left -->

      <div class="right">

        <figure>
          <%= image_tag 'info-images/financial-lease-handshake.jpg' %>
        </figure>

        <div class="text">
          <div class="description">
            <h2>Verstandig kiezen</h2>

            <p>Wilt u uiteindelijk eigenaar woorden van een auto of bedrijfsmiddel en met een flexibele regeling afbetalen? Dan is financial lease een geschikte optie. Bedenk vooraf goed wat deze leasevorm voor u betekent. Zo heeft u elke maand hogere vaste lasten en betaalt u rente over uw lening.</p>

            <p>Financial lease is een interessante optie voor bedrijven die een auto of bedrijfsmiddel willen aanschaffen, maar onvoldoende geld in kas hebben. Hieronder leest u waarom dat zo is.</p>

            <blockquote>Kosten kunnen worden gespreid</blockquote>

            <p>Zoals de inleiding al aangeeft kan een auto of bedrijfsmiddelen een flinke investering zijn en een van de grote voordelen van financial lease is voor veel ondernemers dan ook dat de kosten gespreid kunnen worden. Zo kunnen broodnodige bedrijfsmiddelen worden aangeschaft ondanks het feit dat er eigenlijk geen geld voor gereserveerd is.</p>
          </div> <!-- .description -->
        </div> <!-- .text -->
      </div> <!-- .left -->
    </article>

    <div class="line split-in-three">
      <div class="left none">

        <div class="text two-thirds mini-ad on-right">
          <h2>Zakelijke financiering</h2>

          <div class="description">
            <p>Financial lease</p>
          </div> <!-- .description -->

          <div class="read-more">
            <a class="btn btn-small">
              Direct berekenen
            </a>
          </div> <!-- .read-more -->
        </div> <!-- .text -->

      </div> <!-- .left -->

      <div class="right none">&nbsp;</div> <!-- .right -->
    </div> <!-- .line -->
  </div> <!-- .wrapper -->
</section> <!-- .blog-listing -->


<%= render partial: 'layouts/search_navigation' %>
<%= render partial: 'layouts/footer_simple' %>