<tr>
  <td><%= car.brand.name %></td>
  <td><%= car.model.name %></td>
  <td><%= car.car_type %></td>
  <td><%= car.manufacture_year %></td>
  <td><%= car.license_plate %></td>
  <td><%= car.color %></td>
</tr>