<tr>
  <td><%= image_tag car.car_images.first.file.thumb, height: 100 %></td>
  <td><%= car.license_plate %></td>
  <td><%= car.brand.name %></td>
  <td><%= car.model.name %></td>
  <td><%= car.car_type %></td>
  <td><%= car.manufacture_year %></td>
  <td><%= car.color %></td>
</tr>