<%= render partial: 'layouts/breadcrumb' %>

<section class="action_banner">
  <div class="wrapper" style="background-image: url('<%= @action_page.banner_image.large.url %>');">

    <article class="balloon">
      <h2>Zoekt u een Audi?</h2>

      <h2>Nu met extra voordeel!</h2>

      <p>
        Financier een Audi A3 tijdens de Audi Weken en ontvang:
      </p>

      <ul>
        <li>€ 1.000 aan accessoires/inbouw</li>
        <li>€ 500 extra inruilvoordeel</li>
      </ul>
    </article>

    <h1 class="right"><%= @action_page.banner_title %></h1>

    <p class="right"><%= @action_page.banner_subtitle %></p>

  </div>

  <div class="footer">
    <i class="icon arrow-orange-down"></i>
  </div>
  <!-- .footer -->
</section>

<section class="search-cars brand-page action-page-cars">
  <div class="wrapper">

    <h2>Auto sectie heading</h2>

    <p>
      Auto sectie sub heading
    </p>

    <div class="title">
      <a class="right" href="">
        Filters
        <i class="icon arrow-blue-down"></i>
      </a>

      <h2>
        <strong><%= "#{@action_page.try(:brand).try(:name)} #{@action_page.try(:model).try(:name)}" %></strong>
        <em><%= @cars.total_count %> op voorraad</em>
      </h2>

      <div class="submenu">
        <%= render 'cars/filters' %>
      </div>
    </div>
    <!-- .title -->


    <ul class="cars">

      <%= render @cars %>

    </ul>

    <%= paginate @cars %>

  </div>
  <!-- .wrapper -->
</section> <!-- .search-cars -->

<section class="action_banner second">
  <div class="wrapper">

    <figure style="background-image: url('<%= image_url 'action_pages/audi-a3-sportback.png' %>');"></figure>

    <article>
      <h2>
        Zorgeloos rijden in een Audi A3 op maat!
      </h2>

      <p>
        U weet vooraf precies wat de kosten per maand zijn. Zaken als onderhoud, reparatie, wegenbelasting en
        verzekering zijn bij de prijs inbegrepen. U kunt uw nieuwe Audi A3 volledig naar eigen wens laten inrichten.
      </p>

      <p>
        Wij leveren de Audi A3 compleet voor u af, zodat u deze direct kunt gebruiken.
        Zit de Audi A3 van uw keuze er niet bij? Zoek dan nu in ons volledige aanbod.
      </p>
    </article>

    <div class="clearfix"></div>

  </div>
</section>

<section class="welcome">
  <div class="wrapper">

    <% @cms_fields = CmsField.first %>

    <h2>Financier je nieuwe <%= "#{@action_page.try(:brand).try(:name)} #{@action_page.try(:model).try(:name)}" %> met
      Auto Krediet Plan</h2>

    <p>
      Kies hieronder 1 van onze financierings mogelijkheden met Auto Krediet Plan
    </p>

    <ul>

      <li>
        <article>
          <figure>
            <a href="<%= financing_cars_path 'bussiness' %>"><%= image_tag @cms_fields.home_foto_1 ? @cms_fields.home_foto_1.url : 'image-zakelijk.jpg' %></a>
          </figure>

          <h1>
            <a href="<%= financing_cars_path 'bussiness' %>"><%= StaticText.home_business_finance_head %></a>
          </h1>

          <div class="description">
            <p><%= StaticText.home_bussiness_finance_sub_text %></p>
          </div>

          <footer>
            <a class="btn btn-small btn-full-width" href="<%= financing_cars_path 'bussiness' %>"><%= StaticText.home_bussiness_finance_button %></a>
          </footer>
        </article>
      </li>

      <li>
        <article>
          <figure>
            <a href="<%= financing_cars_path 'private' %>"><%= image_tag @cms_fields.home_foto_2 ? @cms_fields.home_foto_2.url : 'image-particuliere.jpg' %></a>
          </figure>

          <h1>
            <a href="<%= financing_cars_path 'private' %>"><%= StaticText.home_private_finance_head %></a>
          </h1>

          <div class="description">
            <p><%= StaticText.home_private_finance_sub_text %></p>
          </div>

          <footer>
            <a class="btn btn-small btn-full-width" href="<%= financing_cars_path 'private' %>"><%= StaticText.home_private_finance_button %></a>
          </footer>
        </article>
      </li>

      <li>
        <article>
          <figure>
            <a href="<%= financing_cars_path '50_50' %>"><%= image_tag @cms_fields.home_foto_3 ? @cms_fields.home_foto_3.url : 'image-5050.jpg' %></a>
          </figure>

          <h1>
            <a href="<%= financing_cars_path '50_50' %>">50/50 Deals
              <small>(Particulier)</small>
            </a>
          </h1>

          <div class="description">
            <p><%= StaticText.home_50_50_sub_text %></p>
          </div>

          <footer>
            <a class="btn btn-small btn-full-width" href="<%= financing_cars_path '50_50' %>"><%= StaticText.home_50_50_finance_button %></a>
          </footer>
        </article>
      </li>

    </ul>

    <div class="warning home"></div>

  </div>
  <!-- .wrapper -->
</section> <!-- .welcome -->

<section class="pros_akp">
  <div class="wrapper">
    <div class="pros">
      <ul class="pros">
        <li class="car">Groot aanbod</li>
        <li class="cert">Onderhoudshistorie & schadeverleden bekend</li>
        <li class="badge">Standaard 3 maanden garantie</li>
        <li class="wrench">Goed onderhouden</li>
      </ul>
      <ul class="pros">
        <li class="spacer">&nbsp;</li>
        <li class="hand">Gunstige aanschafprijs</li>
        <li class="person">Van de 1e eigenaar</li>
        <li class="moneybag">Mogelijkheid om uw auto te financieren</li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<section class="rating">
  <div class="wrapper">
    <div class="right">
      <h2><%= @action_page.banner_title %></h2>

      <p>Ook zakelijk zeer voordelig te financieren via Auto Krediet Plan</p>

      <%= image_tag 'action_pages/audi_a1.png', class: 'car_image' %>

      <a href="" class="btn btn-medium">Zakelijke auto financieren</a>
    </div>
    <!-- div.right -->

    <div class="left">
      <figure>
        <img src="http://lorempixel.com/138/138" alt="">
      </figure>
      <div class="rating_text">
        <span class="stars">
              <i class="icon star-full-small"></i>
              <i class="icon star-full-small"></i>
              <i class="icon star-full-small"></i>
              <i class="icon star-full-small"></i>
              <i class="icon star-empty-small"></i>
        </span>

        <p>
          Mike, ondernemer
        </p>
        <blockquote>
          “Rijden is voor mij ook genieten. Deze
          uitvoering had enorm veel luxe zoals
          extra vette spreakers voor heel weinig
          extra.”
        </blockquote>
        <span class="caption">
            Mike, least voor €290,- en betaalt
            prive €192,- bijtelling aan de fiscus.
          </span>
        <div class="clear"></div>
      </div>

    </div>
    <!-- div.left -->

    <div class="clear"></div>

    <p class="warning">
      *Let op: Deze samenstellingen zijn gebaseerd op populaire
      keuzes van Audi A3 rijders. Namen zijn gefineerd.
    </p>

  </div>
</section>

<%= render partial: 'cars/financing_icons' %>

<%= render partial: 'layouts/footer_complex' %>