<%= render partial: 'layouts/breadcrumb' %>

<section class="action_banner">
  <div class="wrapper" style="background-image: url('<%= @action_page.banner_image.large.url %>');">

    <article class="balloon">
      <h2><%= @action_page.header_title %></h2>

      <%= @action_page.header_text.html_safe %>
    </article>

    <h1 class="right"><%= @action_page.banner_title %></h1>

    <p class="right"><%= h @action_page.banner_subtitle %></p>

  </div>

  <div class="footer">
    <i class="icon arrow-orange-down"></i>
  </div>
  <!-- .footer -->
</section>

<section class="search-cars brand-page action-page-cars">
  <div class="wrapper">

    <h2><%= @action_page.car_section_title.html_safe %></h2>

    <p>
      <%= @action_page.car_section_subtitle.html_safe %>
    </p>

    <div class="title">
      <a class="right" href="">
        Filters
        <i class="icon arrow-blue-down"></i>
      </a>

      <h2>
        <strong><%= "#{@action_page.try(:brand).try(:name)} #{@action_page.try(:model).try(:name)}" %></strong>
        <em><%= @cars.total_count %> op voorraad</em>
      </h2>

      <div class="submenu">
        <%= render 'cars/filters' %>
      </div>
    </div>
    <!-- .title -->


    <ul class="cars">

      <%= render @cars %>

    </ul>

    <%= paginate @cars %>

  </div>
  <!-- .wrapper -->
</section> <!-- .search-cars -->

<% if @action_page.orange_banner_enabled? %>

    <section class="action_banner second">
      <div class="wrapper">

        <figure style="background-image: url('<%= image_url @action_page.orange_banner_image.processed %>');"></figure>

        <article>
          <h2>
            <%= @action_page.orange_banner_title.html_safe %>
          </h2>

          <%= @action_page.orange_banner_text.html_safe %>

        </article>

        <div class="clearfix"></div>

      </div>
    </section>

<% end %>

<section class="welcome">
  <div class="wrapper">

    <% @cms_fields = CmsField.first %>

    <h2>Financier je nieuwe <%= "#{@action_page.try(:brand).try(:name)} #{@action_page.try(:model).try(:name)}" %> met
      Auto Krediet Plan</h2>

    <p>
      Kies hieronder 1 van onze financierings mogelijkheden met Auto Krediet Plan
    </p>

    <ul>

      <li>
        <article>
          <figure>
            <a href="<%= financing_cars_path 'bussiness' %>"><%= image_tag @cms_fields.home_foto_1 ? @cms_fields.home_foto_1.url : 'image-zakelijk.jpg' %></a>
          </figure>

          <h1>
            <a href="<%= financing_cars_path 'bussiness' %>"><%= StaticText.home_business_finance_head %></a>
          </h1>

          <div class="description">
            <p><%= StaticText.home_bussiness_finance_sub_text %></p>
          </div>

          <footer>
            <a class="btn btn-small btn-full-width" href="<%= financing_cars_path 'bussiness' %>"><%= StaticText.home_bussiness_finance_button %></a>
          </footer>
        </article>
      </li>

      <li>
        <article>
          <figure>
            <a href="<%= financing_cars_path 'private' %>"><%= image_tag @cms_fields.home_foto_2 ? @cms_fields.home_foto_2.url : 'image-particuliere.jpg' %></a>
          </figure>

          <h1>
            <a href="<%= financing_cars_path 'private' %>"><%= StaticText.home_private_finance_head %></a>
          </h1>

          <div class="description">
            <p><%= StaticText.home_private_finance_sub_text %></p>
          </div>

          <footer>
            <a class="btn btn-small btn-full-width" href="<%= financing_cars_path 'private' %>"><%= StaticText.home_private_finance_button %></a>
          </footer>
        </article>
      </li>

      <li>
        <article>
          <figure>
            <a href="<%= financing_cars_path '50_50' %>"><%= image_tag @cms_fields.home_foto_3 ? @cms_fields.home_foto_3.url : 'image-5050.jpg' %></a>
          </figure>

          <h1>
            <a href="<%= financing_cars_path '50_50' %>">50/50 Deals
              <small>(Particulier)</small>
            </a>
          </h1>

          <div class="description">
            <p><%= StaticText.home_50_50_sub_text %></p>
          </div>

          <footer>
            <a class="btn btn-small btn-full-width" href="<%= financing_cars_path '50_50' %>"><%= StaticText.home_50_50_finance_button %></a>
          </footer>
        </article>
      </li>

    </ul>

    <div class="warning home"></div>

  </div>
  <!-- .wrapper -->
</section> <!-- .welcome -->

<% if @action_page.pros_list_enabled? %>

    <section class="pros_akp">
      <div class="wrapper">
        <div class="pros">
          <ul class="pros">
            <li class="car">Groot aanbod</li>
            <li class="cert">Onderhoudshistorie & schadeverleden bekend</li>
            <li class="badge">Standaard 3 maanden garantie</li>
            <li class="wrench">Goed onderhouden</li>
          </ul>
          <ul class="pros">
            <li class="spacer">&nbsp;</li>
            <li class="hand">Gunstige aanschafprijs</li>
            <li class="person">Van de 1e eigenaar</li>
            <li class="moneybag">Mogelijkheid om uw auto te financieren</li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </section>

<% end %>

<% if @action_page.reference_banner_enabled? %>

    <section class="rating">
      <div class="wrapper">
        <div class="right">
          <h2><%= @action_page.banner_title %></h2>

          <p>Ook zakelijk zeer voordelig te financieren via Auto Krediet Plan</p>

          <%= image_tag @action_page.reference_car_image.processed, class: 'car_image' %>

          <%= link_to 'Zakelijke auto financieren', financing_cars_path('bussiness'), class: 'btn btn-medium' %>
        </div>
        <!-- div.right -->

        <div class="left">
          <figure>
            <%= image_tag @action_page.reference_image %>
          </figure>
          <div class="rating_text">
        <span class="stars">
              <% 5.times do |i| %>
              <i class="icon <%= @action_page.reference_stars >= i + 1 ? 'star-full-small' : 'star-empty-small' %>"></i>
          <% end %>
        </span>

            <%= @action_page.reference_text.html_safe %>
            <div class="clear"></div>
          </div>

        </div>
        <!-- div.left -->

        <div class="clear"></div>

        <p class="warning">
          *Let op: Deze samenstellingen zijn gebaseerd op populaire
          keuzes van <%= "#{@action_page.try(:brand).try(:name)} #{@action_page.try(:model).try(:name)}" %> rijders.
          Namen zijn gefineerd.
        </p>

      </div>
    </section>

<% end %>

<%= render partial: 'cars/financing_icons' %>

<%= render 'footer', action_page: @action_page %>