<section class="wizard-form">
  <div class="wrapper">

    <%= render 'wizards/steps', step: 3 %>

    <h2>Vul de onderstaande gegevens in en wij zullen zsm reageren!</h2>

    <div class="form-container">

      <div class="left">
        <%= render @car %>
      </div> <!-- .left -->

      <div class="right">
        <form action="<%= final_wizard_path %>" method="post" class="payment-form">
          <input type="hidden" name="car_id" value="<%= @car.id %>"/>
          <p class="select">
            <select class="different" name="request_type" id="">
              <option value="50_50">50/50 deals</option>
              <option value="private">Private Lease</option>
              <option value="financial">Financial Lease</option>
            </select>
          </p>
          <p class="text right">
            <input type="text" name="payment" class="text" id="payment-payment" />
            <label for="payment-payment">Aanbetaling</label>
          </p>
          <p class="text">
            <input type="text" name="name" class="text" id="payment-name" />
            <label for="payment-name">Naam</label>
          </p>
          <p class="text right">
            <input type="text" name="amount" class="text" id="payment-amount" />
            <label for="payment-amount">Te financieren bedrag</label>
          </p>
          <p class="text error">
            <input type="text" name="phone" class="text" id="payment-phone" />
            <label for="payment-phone">Tel nr.</label>
          </p>
          <p class="text right">
            <input type="text" name="license_plate" class="text" id="payment-license-plate" />
            <label for="payment-license-plate">Kenteken</label>
          </p>
          <p class="text ok">
            <input type="email" name="email" class="text" id="payment-email" />
            <label for="payment-email">Email</label>
          </p>
          <p class="text right">
            <input type="text" name="bkr" class="text" id="payment-bkr" />
            <label for="payment-bkr">BKR geregistreed?</label>
          </p>
          <p class="text">
            <input type="text" name="net_income" class="text" id="payment-net-income" />
            <label for="payment-net-income">Netto inkomen</label>
          </p>
          <p class="checkbox right">
            <input type="checkbox" name="newsletter_subscribe" class="checkbox" id="payment-newsletter-subscribe" />
            <label for="payment-newsletter-subscribe">Inschrijven nieuwsbrief</label>
          </p>
          <p class="text">
            <input type="text" name="partner_net_income" class="text" id="payment-partner-net-income" />
            <label for="payment-partner-net-income">Netto inkomen partner</label>
          </p>
          <p class="empty right">&nbsp;</p>
          <p class="text">
            <input type="text" name="rent" class="text" id="payment-rent" />
            <label for="payment-rent">Huur of hypotheeklasten</label>
          </p>
          <p class="image right">
            <%= image_tag 'let-op-geld-lenen-kost-geld.jpg' %>
          </p>
          <p class="big-text last">
            Uw nieuwe auto, zo dichtbij!
          </p>
          <p class="submit right last">
            <button class="btn btn-small">Aanvraag versturen</button>
          </p>
        </form>
      </div> <!-- .right -->

    </div> <!-- .form-container -->

  </div> <!-- .wrapper -->
</section> <!-- .wizard-form -->
