<section class="wizard-form">
  <div class="wrapper">

    <%= render 'wizards/steps', step: 3 %>

    <h2><%= StaticText.wizard_fill_the_details %></h2>

    <div class="form-container">

      <div class="left">
        <%= render @car, wizard_type: params[:wizard_type] %>
      </div>
      <!-- .left -->

      <div class="right">
        <form action="<%= final_wizard_path %>" method="post" class="payment-form">
          <input type="hidden" name="car_id" value="<%= @car.id %>"/>

          <p class="select">
            <select class="different" name="request_type" id="">
              <option value="financial" <%== if defined? params[:wizard_type] and params[:wizard_type].present? and params[:wizard_type] == 'bussiness';
                                               'selected="selected"';
                                             end %>>Zakelijk financieren
              </option>
              <option value="private" <%== if defined? params[:wizard_type] and params[:wizard_type].present? and params[:wizard_type] == 'private';
                                             'selected="selected"';
                                           end %>>Particulier financieren
              </option>
              <option value="50_50" <%== if defined? params[:wizard_type] and params[:wizard_type].present? and params[:wizard_type] == '50_50';
                                           'selected="selected"';
                                         end %>>50/50 deals
              </option>
            </select>
          </p>
          <div class="normal_fields">
            <p class="text right" data-rules="required">
              <input type="text" name="payment" class="text" id="payment-payment" required="required" value="<%== if defined? params[:wizard_type] and params[:wizard_type].present? and params[:wizard_type] == '50_50';
                                                                                                                    @car.price_50_50;
                                                                                                                  end %>"/>
              <label for="payment-payment">Aanbetaling</label>
            </p>

            <p class="text" data-rules="required">
              <input type="text" name="name" class="text" id="payment-name" required="required"/>
              <label for="payment-name">Naam</label>
            </p>

            <p class="text right" data-rules="numeric">
              <input type="text" name="amount" class="text" id="payment-amount"/>
              <label for="payment-amount">Te financieren bedrag</label>
            </p>

            <p class="text" data-rules="required|phone">
              <input type="text" name="phone" class="text" id="payment-phone" required="required"/>
              <label for="payment-phone">Telefoon nummer</label>
            </p>

            <p class="text right" data-rules="required|email">
              <input type="email" name="email" class="text" id="payment-email" required="required"/>
              <label for="payment-email">Email</label>
            </p>

            <p class="text" data-rules="required|numeric">
              <input type="text" name="net_income" class="text" required="required" id="payment-net-income"/>
              <label for="payment-net-income">Netto inkomen</label>
            </p>

            <p class="empty right">&nbsp;</p>

            <p class="checkbox right" data-rules="required|alphanumeric">
              <input type="checkbox" name="bkr" class="checkbox" id="payment-bkr"/>
              <label for="payment-bkr">BKR geregistreerd?</label>
            </p>


            <p class="text" data-rules="required|numeric">
              <input type="text" name="partner_net_income" class="text" required="required" id="payment-partner-net-income"/>
              <label for="payment-partner-net-income">Netto inkomen partner</label>
            </p>

            <p class="text" data-rules="required">
              <input type="text" name="rent" class="text" required="required" id="payment-rent"/>
              <label for="payment-rent">Huur of hypotheeklasten</label>
            </p>
          </div>

          <div class="financial_fields" style="display:none;">

            <p class="text right" data-rules="required|email">
              <input type="email" name="email" class="text" id="payment-email" required="required"/>
              <label for="payment-email">Email</label>
            </p>

            <p class="text" data-rules="required|phone">
              <input type="text" name="phone" class="text" id="payment-phone" required="required"/>
              <label for="payment-phone">Telefoon nummer</label>
            </p>

            <p class="text right" data-rules="numeric">
              <input type="text" name="amount" class="text" id="payment-amount"/>
              <label for="payment-amount">Te financieren bedrag</label>
            </p>

            <p class="text" data-rules="required">
              <input type="text" name="first_name" class="text" id="payment-name-first" required="required"/>
              <label for="payment-name-first">Voornaam</label>
            </p>

            <p class="text right" data-rules="required">
              <input type="text" name="last_name" class="text" id="payment-name-last" required="required"/>
              <label for="payment-name-last">Achternaam</label>
            </p>

            <p class="text" data-rules="required|numeric">
              <input type="text" name="payment" class="text" id="payment-payment" required="required" />
              <label for="payment-payment">Aanbetaling</label>
            </p>

            <p class="text right" data-rules="required">
              <input type="text" name="kvk" class="text" id="payment-kvk" required="required" />
              <label for="payment-kvk">KvK Dossiernummer</label>
            </p>

            <p class="text">
              <input type="text" name="date_creation" class="text" id="payment-creation" />
              <label for="payment-creation">Datum oprichting</label>
            </p>

            <p class="text right">
              <input type="text" name="notes" class="text" id="payment-notes" required="required" />
              <label for="payment-notes">Opmerking</label>
            </p>
            <p></p>

          </div>

          <p class="checkbox right">
            <input type="checkbox" name="newsletter_subscribe" class="checkbox" id="payment-newsletter-subscribe" checked="checked"/>
            <label for="payment-newsletter-subscribe">Inschrijven nieuwsbrief</label>
          </p>

          <p class="image right">
            <%= image_tag 'let-op-geld-lenen-kost-geld.jpg' %>
          </p>

          <p class="big-text last">
            Uw nieuwe auto, zo dichtbij!
          </p>

          <p class="submit right last">
            <button class="btn btn-small"><%= StaticText.wizard_submit_form %></button>
          </p>
        </form>
      </div>
      <!-- .right -->

    </div>
    <!-- .form-container -->

  </div>
  <!-- .wrapper -->
</section> <!-- .wizard-form -->

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        switch_form_fields();

        $('select[name="request_type"]').on('change', function () {
           switch_form_fields();
        });

    });

    function switch_form_fields() {
        var
                form_type = $('select[name="request_type"]').val(),
                financial_container = $('div.financial_fields'),
                normal_container = $('div.normal_fields');

        if (form_type == 'financial') {
            financial_container.show();
            normal_container.hide();
            $('[required="required"]', normal_container).prop('required', false);
            $('[required="false"]', financial_container).prop('required', 'required');
        } else {
            financial_container.hide();
            normal_container.show();
            $('[required="required"]', financial_container).prop('required', false);
            $('[required="false"]', normal_container).prop('required', 'required');
        }
    }

</script>