<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
  <ul class="breadcrumb">
    <li>
      <p><%= link_to 'Home', admin_root_path %></p>
    </li>
    <li><a href="#" class="active">Blog Pages</a></li>
  </ul>
  <!-- END BREADCRUMB -->
  <h3 class="page-title">Pages</h3>
</div>


<div class="container-fluid container-fixed-lg">

  <div class="btn-group dropdown-default">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> New Template <span class="caret"></span> </a>
    <ul class="dropdown-menu ">
      <li><%= link_to 'Auto Blog', new_with_template_admin_blog_pages_path('blog_template_auto_blog') %></li>
      <li><%= link_to 'Auto Op Afbetaling', new_with_template_admin_blog_pages_path('blog_template_auto_afbetaling') %></li>
      <li><%= link_to 'Auto Lease De Mogelijkheden', new_with_template_admin_blog_pages_path('blog_template_auto_lease_mogelijkheden') %></li>
      <li><%= link_to 'Full Operational Lease', new_with_template_admin_blog_pages_path('blog_template_full_operational_lease') %></li>
      <li><%= link_to 'Lease Gebruikte Autos', new_with_template_admin_blog_pages_path('blog_template_lease_gebruikte_autos') %></li>
      <li><%= link_to 'Onze Werkplaats', new_with_template_admin_blog_pages_path('blog_template_onze_werkplaats') %></li>
      <li><%= link_to 'Opel Eye Tracking', new_with_template_admin_blog_pages_path('blog_template_opel_eye_tracking') %></li>
      <li><%= link_to 'Voordelen Financial Lease', new_with_template_admin_blog_pages_path('blog_template_voordelen_financial_lease') %></li>
    </ul>
  </div>

  <table id="myDataTable" class="table table-hover" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>Titel</th>
      <th>Content</th>
      <th>Template</th>
      <th>Acties</th>
    </tr>
    </thead>
    <tbody>
    <% @blog_pages.each do |blog_page| %>
        <tr>
          <td><%= blog_page.title %></td>
          <td><%= sanitize(truncate(blog_page.content)) %></td>
          <td><%= blog_page.templateable_type.underscore.gsub('_', ' ').capitalize %></td>
          <td>
            <%= link_to 'Edit', edit_with_template_admin_blog_pages_path(blog_page, blog_page.templateable_type.underscore.to_sym), class: 'btn btn-info' %>
            <%= link_to 'View', blog_page_path(blog_page), class: 'btn btn-primary' %>
            <%= link_to 'Delete', admin_blog_page_path(blog_page), confirm: 'Are you sure you want to delete this blog_page?', method: :delete, class: 'btn btn-danger' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% content_for :footer do %>
<% end %>