<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
  <ul class="breadcrumb">
    <li>
      <p><%= link_to 'Home', admin_root_path %></p>
    </li>
    <li><a href="" class="active">New Page</a></li>
  </ul>
  <!-- END BREADCRUMB -->
  <h3 class="page-title">New Page</h3>
</div>

<div class="container-fluid container-fixed-lg">
  <%= form_for @blog_page, url: {action: :create}, html: {class: 'form'}, multipart: true do |f| %>
      <%= render 'form', f: f %>
      <%= f.hidden_field :templateable_type, value: params[:template].split("_").collect(&:capitalize).join %>
      <div id="blog_sections form-group form-group-attached">
        <h3>Template specific fields</h3>
        <%= f.fields_for :templateable_attributes, params[:template].to_s.split("_").collect(&:capitalize).join.constantize.new do |template| %>
            <%= render 'template_fields', f: template, template: params[:template] %>
        <% end %>
      </div>
      <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>

<% content_for :footer do %>
    <script>
        $(document).ready(function() {
            $('#wysiwyg5').wysihtml5();
            $('.remove_fields').on('click', function () {
                $(this).parents('.grouper').fadeOut();
            });
        });
    </script>
<% end %>