<li data-price="<%= car.price_total %>" data-name="<%= car.display_name %>">
  <article class="listing-car">
    <figure>
      <% car.car_medias.each do |car_media| %>
          <% next unless car_media.file_type.include? 'image' %>
          <a href="<%= car_path car %>"><img src="<%= car_media.file.large.url %>" alt=""/></a>
      <% end %>
    </figure>

    <h1><a href="<%= car_path car %>"><%= car.display_name %></a></h1>

    <div class="goto">
      <a href="<%= car_path car %>" class="btn btn-small btn-full-width" data-select-url="<%= your_details_wizard_path %>" data-id="<%= car.id %>"><%= StaticText.direct_berekenen %></a>
    </div>

    <footer>
      <div class="tabs">
        <div class="tab-header">
          <% if car.price_month.present? %>
              <a href="#tab-1" data-tab="1">Zakelijk</a>
          <% end %>
          <a href="#tab-2" data-tab="2" class="selected">Particulier</a>
          <% if car.price_50_50.present? %>
              <a href="#tab-3" data-tab="3">50/50 Deal</a>
          <% end %>
        </div>

        <div class="tab-content">
          <div class="tab tab-1">
            <h3 class="price">&euro; <%= car.price_month %>,-</h3>
            <small>Per maand vanaf</small>
          </div>
          <div class="tab tab-2 visible">
            <h3 class="price">&euro; <%= car.price_total %>,-</h3>
            <small>De totaal prijs van deze auto</small>
          </div>
          <% if car.price_50_50.present? %>
            <div class="tab tab-3">
              <h3 class="price">&euro; <%= car.price_50_50 %>,-</h3>
              <small>De andere helft in 12 of 36 maanden met 0% rente</small>
            </div>
          <% end %>
        </div>
        <!-- .tab-content -->
      </div>
      <!-- .tabs -->
    </footer>
  </article>

</li>
