<section class="financing-icons">
  <div class="wrapper">

    <ul>
      <li>
        <a href="">
          <span class="icon-wrapper"><i class="icon euro-white-big"></i></span>
          <strong><%= StaticText.home_finance_icon_1 %></strong>
        </a>
      </li>

      <li>
        <a href="">
          <span class="icon-wrapper"><i class="icon thumbsup-white-big"></i></span>
          <strong><%= StaticText.home_finance_icon_2 %></strong>
        </a>
      </li>

      <li>
        <a href="">
          <span class="icon-wrapper"><i class="icon people-white-big"></i></span>
          <strong><%= StaticText.home_finance_icon_3 %></strong>
        </a>
      </li>

      <li>
        <a href="">
          <span class="icon-wrapper"><i class="icon handshake-white-big"></i></span>
          <strong><%= StaticText.home_finance_icon_4 %></strong>
        </a>
      </li>

      <li>
        <a href="">
          <span class="icon-wrapper"><i class="icon layers-white-big"></i></span>
          <strong><%= StaticText.home_finance_icon_5 %></strong>
        </a>
      </li>
    </ul>

    <div class="footer">
      <i class="icon arrow-orange-down"></i>
    </div> <!-- .footer -->

  </div> <!-- .wrapper -->
</section> <!-- .financing-icons -->
