<%= render partial: 'layouts/breadcrumb' %>

<section class="search-cars brand-page">
  <div class="wrapper">

    <div class="title">
      <a class="right" href="">
        Filters
        <i class="icon arrow-blue-down"></i>
      </a>

      <h2>
        <%= @brand.name %>
        <em><%= @cars.length %> op voorraad</em>
      </h2>

      <div class="submenu">
        <ul>
          <li><a href="" class="selected">By price asc</a></li>
          <li><a href="">By price desc</a></li>
          <li><a href="">By name asc</a></li>
          <li><a href="">By name desc</a></li>
        </ul>
      </div>
    </div> <!-- .title -->


    <ul class="cars">

      <%= render @cars %>

    </ul>

  </div> <!-- .wrapper -->
</section> <!-- .search-cars -->

<%= render partial: 'brands/search_description', locals: {brand: @brand} %>

<%= render partial: 'layouts/search_navigation' %>
<%= render partial: 'layouts/footer_simple' %>
