<Section class="action_slider">
  <div class="wrapper">
    <ul id="slider_action_banners">
      <li>
        <figure>
          <%= image_tag 'AKP_action_slide.png' %>
        </figure>
      </li>
      <li class="">
        <section class="finance_circles">
          <div class="wrapper">
            <div class="container-fluid content_container" style="background: url('<%= image_url 'bg_mogelijkheden.jpg' %>') no-repeat center; background-size: cover">

              <h2>Wilt u deze auto financieren?</h2>

              <h3>Bekijk hier de mogelijkheden!</h3>

              <div class="article_slider">
                <div><section class="article_financieren">

                  <div class="circle_container">
                    <div class="orange_circle">
                      <h4>ZAKELIJKE FINANCIERINGEN</h4>

                      <p>Financial lease voor de (startende) ondernemer en zzp'r zonder jaarcijfers</p>

                      <a href="http://autokredietplan.nl/cars/financing/50_50" target="_blank" class="orange_btn">Klik hier</a>

                      <div class="white_circle"></div>
                    </div>

                    <div class="mini_logo"></div>
                  </div>
                </section></div>
                <div><section class="article_financieren">

                  <div class="circle_container">
                    <div class="orange_circle">
                      <h4>PARTICULIERE FINANCIERINGEN</h4>

                      <p>U bepaald hoeveel u betaald! meer dan 6000 klanten gingen u voor</p>

                      <a href="http://autokredietplan.nl/cars/financing/private" target="_blank" class="orange_btn animated">Klik
                        hier</a>

                      <div class="white_circle"></div>
                    </div>

                    <div class="mini_logo"></div>
                  </div>
                </section></div>
                <div><section class="article_financieren">

                  <div class="circle_container">
                    <div class="orange_circle">
                      <h4>50/50 Deals (Particulier)</h4>

                      <p>Betaal nu de helft (inruilauto kan ook volstaan) en de andere helft in 12-48 mnd</p>

                      <a href="http://autokredietplan.nl/cars/financing/bussiness" target="_blank" class="orange_btn">Klik
                        hier</a>

                      <div class="white_circle"></div>
                    </div>

                    <div class="mini_logo"></div>
                  </div>
                </section></div>
              </div>
            </div>
          </div>
        </section>
      </li>
    </ul>
  </div>
</Section>

<section class="welcome disnone" style="display:none;">
  <div class="wrapper">


    <h2><%= StaticText.home_welcome_text %></h2>

    <p>
      <%= StaticText.homepage_top_text %>
    </p>

    <ul>

      <li>
        <article>
          <figure>
            <a href="<%= financing_cars_path 'bussiness' %>"><%= image_tag @cms_fields.home_foto_1 ? @cms_fields.home_foto_1.url : 'image-zakelijk.jpg' %></a>
          </figure>

          <h1>
            <a href="<%= financing_cars_path 'bussiness' %>"><%= StaticText.home_business_finance_head %></a>
          </h1>

          <div class="description">
            <p><%= StaticText.home_bussiness_finance_sub_text %></p>
          </div>

          <footer>
            <a class="btn btn-small btn-full-width" href="<%= financing_cars_path 'bussiness' %>"><%= StaticText.home_bussiness_finance_button %></a>
          </footer>
        </article>
      </li>

      <li>
        <article>
          <figure>
            <a href="<%= financing_cars_path 'private' %>"><%= image_tag @cms_fields.home_foto_2 ? @cms_fields.home_foto_2.url : 'image-particuliere.jpg' %></a>
          </figure>

          <h1>
            <a href="<%= financing_cars_path 'private' %>"><%= StaticText.home_private_finance_head %></a>
          </h1>

          <div class="description">
            <p><%= StaticText.home_private_finance_sub_text %></p>
          </div>

          <footer>
            <a class="btn btn-small btn-full-width" href="<%= financing_cars_path 'private' %>"><%= StaticText.home_private_finance_button %></a>
          </footer>
        </article>
      </li>

      <li>
        <article>
          <figure>
            <a href="<%= financing_cars_path '50_50' %>"><%= image_tag @cms_fields.home_foto_3 ? @cms_fields.home_foto_3.url : 'image-5050.jpg' %></a>
          </figure>

          <h1>
            <a href="<%= financing_cars_path '50_50' %>">50/50 Deals
              <small>(Particulier)</small>
            </a>
          </h1>

          <div class="description">
            <p><%= StaticText.home_50_50_sub_text %></p>
          </div>

          <footer>
            <a class="btn btn-small btn-full-width" href="<%= financing_cars_path '50_50' %>"><%= StaticText.home_50_50_finance_button %></a>
          </footer>
        </article>
      </li>

    </ul>

    <div class="warning home"></div>

    <div class="footer">
      <i class="icon arrow-orange-down"></i>
    </div> <!-- .footer -->

  </div> <!-- .wrapper -->
</section> <!-- .welcome -->

<section class="new-cars">
  <div class="wrapper">
    <h2><%= StaticText.nieuw_binnen %></h2>

    <p class="text">
      <%= StaticText.homepage_nieuw_binnen_subtext %>
    </p>

    <p>
      <a class="btn btn-big" href="<%= voorraad_cars_path %>"><%= StaticText.nieuw_binnen_link_text %></a>
    </p>

    <ul class="cars">
      <%= render @cars %>
    </ul>

    <div class="footer">
      <i class="icon arrow-gray-down"></i>
    </div> <!-- .footer -->
  </div> <!-- .wrapper -->
</section> <!-- .new-cars -->

<%= render partial: 'wizards/pick_a_price', locals: {type: 'private', positioned_home_page: true} %>
<%= render partial: 'financing_icons' %>

<section class="service_part">

  <section class="nieuwsbrief" id="newsletter">
    <div class="wrapper">
      <div class="container-fluid">
        <h3>Op de hoogte blijven van onze dagelijks vernieuwende voorraad?</h3>

        <p>Schrijf je dan hier in<span>voor onze nieuwsbrief!</span></p>

        <form action="//autoservicehaarlem.us10.list-manage.com/subscribe/post?u=44430860a9c40c3e2dbade7c2&amp;id=92a5ce40fb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate news_letter newsletter_require" target="_blank" novalidate>
          <div class="first-row">
            <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="Vul hier je voornaam in" required>
            <input type="text" value="" name="LNAME" class="" id="mce-LNAME" placeholder="Vul hier je achternaam in" required>
          </div>
          <div class="second-row">
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Vul hier je e-mail adres in" required>
            <button type="submit" value="Subscribe" class="orange_btn">Verstuur inschrijving</button>
          </div>
        </form>
      </div>
    </div>
  </section>

  <% top_review = TopReview.find_random %>

  <% if top_review.present? %>
  <section class="recentie">
    <div class="row_recentie">
      <div class="col_recentie">
        <div class="recentie_img">
          <%= image_tag top_review.image.square %>
        </div>
      </div>
      <div class="col_recentie">
        <span class="helper"></span>

        <p class="recenctie_text">
          <%= top_review.review %>
        </p>
      </div>
    </div>
  </section>

  <% end %>

  <section class="zekerheden">
    <div class="wrapper">
      <div class="container-fluid content_container">
        <h2><%= StaticText.home_zekerheden_title %></h2>

        <div class="row row_text_blokken">
          <div class="col keuze">
            <div class="image">
              <span class="helper"></span>
              <%= image_tag 'autos.png' %>
            </div>
            <h4><%= StaticText.zekerheden_1_title %></h4>

            <p><%= StaticText.zekerheden_1_content %></p>
          </div>
          <div class="col bepaald">
            <div class="image">
              <span class="helper"></span>
              <%= image_tag 'onderhoud.png' %>
            </div>
            <h4><%= StaticText.zekerheden_2_title %></h4>

            <p><%= StaticText.zekerheden_2_content %></p>
          </div>
          <div class="col specialist">
            <div class="image">
              <span class="helper"></span>
              <%= image_tag 'medail.png' %>
            </div>
            <h4><%= StaticText.zekerheden_3_title %></h4>

            <p><%= StaticText.zekerheden_3_content %></p>
          </div>
          <div class="col historie">
            <div class="image">
              <span class="helper"></span>
              <%= image_tag 'historie.png' %>
            </div>
            <h4><%= StaticText.zekerheden_4_title %></h4>

            <p><%= StaticText.zekerheden_4_content %></p>
          </div>
          <div class="col huurkoop">
            <div class="image">
              <span class="helper"></span>
              <%= image_tag 'geld_zak.png' %>
            </div>
            <h4><%= StaticText.zekerheden_5_title %></h4>

            <p><%= StaticText.zekerheden_5_content %></p>
          </div>
        </div>

        <div class="owl_carousel_zekerheden">
          <div class="item">
            <div class="col keuze">
              <div class="image">
                <span class="helper"></span>
                <%= image_tag 'autos.png' %>
              </div>
              <h4><%= StaticText.zekerheden_1_title %></h4>

              <p><%= StaticText.zekerheden_1_content %></p>
            </div>
          </div>
          <div class="item">
            <div class="col bepaald">
              <div class="image">
                <span class="helper"></span>
                <%= image_tag 'onderhoud.png' %>
              </div>
              <h4><%= StaticText.zekerheden_2_title %></h4>

              <p><%= StaticText.zekerheden_2_content %></p>
            </div>
          </div>
          <div class="item">
            <div class="col specialist">
              <div class="image">
                <span class="helper"></span>
                <%= image_tag 'medail.png' %>
              </div>
              <h4><%= StaticText.zekerheden_3_title %></h4>

              <p><%= StaticText.zekerheden_3_content %></p>
            </div>
          </div>
          <div class="item">
            <div class="col historie">
              <div class="image">
                <span class="helper"></span>
                <%= image_tag 'historie.png' %>
              </div>
              <h4><%= StaticText.zekerheden_4_title %></h4>

              <p><%= StaticText.zekerheden_4_content %></p>
            </div>
          </div>
          <div class="item">
            <div class="col huurkoop">
              <div class="image">
                <span class="helper"></span>
                <%= image_tag 'geld_zak.png' %>
              </div>
              <h4><%= StaticText.zekerheden_5_title %></h4>

              <p><%= StaticText.zekerheden_5_content %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<%= render partial: 'layouts/footer_simple' %>