<section class="welcome">
  <div class="wrapper">


    <h2><%= StaticText.home_welcome_text %></h2>

    <p>
      <%= StaticText.homepage_top_text %>
    </p>

    <ul>

      <li>
        <article>
          <figure>
            <a href="<%= financing_cars_path 'bussiness' %>"><%= image_tag @cms_fields.home_foto_1 ? @cms_fields.home_foto_1.url : 'image-zakelijk.jpg' %></a>
          </figure>

          <h1>
            <a href="<%= financing_cars_path 'bussiness' %>"><%= StaticText.home_business_finance_head %></a>
          </h1>

          <div class="description">
            <p><%= StaticText.home_bussiness_finance_sub_text %></p>
          </div>

          <footer>
            <a class="btn btn-small btn-full-width" href="<%= financing_cars_path 'bussiness' %>"><%= StaticText.home_bussiness_finance_button %></a>
          </footer>
        </article>
      </li>

      <li>
        <article>
          <figure>
            <a href="<%= financing_cars_path 'private' %>"><%= image_tag @cms_fields.home_foto_2 ? @cms_fields.home_foto_2.url : 'image-particuliere.jpg' %></a>
          </figure>

          <h1>
            <a href="<%= financing_cars_path 'private' %>"><%= StaticText.home_private_finance_head %></a>
          </h1>

          <div class="description">
            <p><%= StaticText.home_private_finance_sub_text %></p>
          </div>

          <footer>
            <a class="btn btn-small btn-full-width" href="<%= financing_cars_path 'private' %>"><%= StaticText.home_private_finance_button %></a>
          </footer>
        </article>
      </li>

      <li>
        <article>
          <figure>
            <a href="<%= financing_cars_path '50_50' %>"><%= image_tag @cms_fields.home_foto_3 ? @cms_fields.home_foto_3.url : 'image-5050.jpg' %></a>
          </figure>

          <h1>
            <a href="<%= financing_cars_path '50_50' %>"><%= StaticText.home_business_finance_head %> <small>(Particulier)</small></a>
          </h1>

          <div class="description">
            <p><%= StaticText.home_50_50_sub_text %></p>
          </div>

          <footer>
            <a class="btn btn-small btn-full-width" href="<%= financing_cars_path '50_50' %>"><%= StaticText.home_50_50_finance_button %></a>
          </footer>
        </article>
      </li>

    </ul>

    <div class="footer">
      <i class="icon arrow-orange-down"></i>
    </div> <!-- .footer -->

  </div> <!-- .wrapper -->
</section> <!-- .welcome -->

<section class="new-cars">
  <div class="wrapper">
    <h2><%= StaticText.nieuw_binnen %></h2>

    <p class="text">
      <%= StaticText.homepage_nieuw_binnen_subtext %>
    </p>

    <p>
      <a class="btn btn-big" href="<%= voorraad_cars_path %>"><%= StaticText.nieuw_binnen_link_text %></a>
    </p>

    <ul class="cars">
      <%= render @cars %>
    </ul>

    <div class="footer">
      <i class="icon arrow-gray-down"></i>
    </div> <!-- .footer -->
  </div> <!-- .wrapper -->
</section> <!-- .new-cars -->

<%= render partial: 'wizards/pick_a_price', locals: {type: 'private', positioned_home_page: true} %>
<%= render partial: 'financing_icons' %>
<%= render partial: 'service', locals: {reference_avarage: @reference_avarage, references: @references} %>

<%= render partial: 'layouts/footer_simple' %>