<%= render partial: 'layouts/breadcrumb' %>

<section class="stock">
  <div class="wrapper">

    <h2><%= StaticText.voorraad_title %></h2>

    <p>
      <%= StaticText.voorraad_heading_content %>
    </p>

    <% unless @cars.any? %>
        <p><%= StaticText.no_search_results %></p>
    <% end %>

  </div> <!-- .wrapper -->
</section> <!-- .stock -->


<section class="search-cars">
  <div class="wrapper">

    <?php include 'form-search.php'; ?>

    <div class="title">
      <a class="right" href="">
        Filters
        <i class="icon arrow-blue-down"></i>
      </a>

      <div class="submenu">
        <a href=""><%= StaticText.sort_by_price_desc %></a>
        <a href=""><%= StaticText.sort_by_price_asc %></a>
        <a href=""><%= StaticText.sort_by_name_desc %></a>
        <a href=""><%= StaticText.sort_by_name_asc %></a>
      </div>
    </div> <!-- .title -->


    <ul class="cars">

      <%= render @cars %>

    </ul>

  </div> <!-- .wrapper -->
</section> <!-- .search-cars -->

<%= render partial: 'layouts/search_navigation' %>
<%= render partial: 'layouts/footer_complex' %>
