<%= render partial: 'layouts/breadcrumb' %>

<section class="search-cars brand-page">
  <div class="wrapper">

    <div class="title">
      <a class="right" href="">
        Filters
        <i class="icon arrow-blue-down"></i>
      </a>

      <h2>
        <%= @model.name %>
        <em><%= @cars.total_count %> op voorraad</em>
      </h2>

      <div class="submenu">
        <%= render 'cars/filters' %>
      </div>
    </div>
    <!-- .title -->


    <ul class="cars">
      <%= render @cars %>
    </ul>

    <%= paginate @cars %>


  </div>
  <!-- .wrapper -->
</section> <!-- .search-cars -->

<%= render partial: 'layouts/search_navigation' %>
<%= render partial: 'layouts/footer_simple' %>
