<div class="title">
  <a class="right" href="">
    Filters
    <i class="icon arrow-blue-down"></i>
  </a>

  <h2>
    <p style="font-size: 23px;">
      <% if defined?(results) && results %>
          <%= (@cars.length %> <%= (@cars.length > 1 or @cars.length == 0) ? 'resultaten' : 'resultaat') %>
      <% else %>
          Resultaten
      <% end %>
    </p>
  </h2>


  <div class="submenu">
    <%= render 'cars/filters' %>
  </div>
</div> <!-- .title -->
<% unless @cars.any? %>
    <h2><%= StaticText.no_search_results %></h2>
<% end %>


<ul class="cars">
  <%= render @cars, wizard_type: params[:wizard_type] %>
</ul>
