<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
  <ul class="breadcrumb">
    <li>
      <p><%= link_to 'Home', admin_root_path %></p>
    </li>
    <li><a href="#" class="active">Finance requests</a></li>
  </ul>
  <!-- END BREADCRUMB -->
  <h3 class="page-title">Finance requests</h3>
</div>


<div class="panel">
  <ul class="nav nav-tabs nav-tabs-fillup">
    <li class="active">
      <a data-toggle="tab" href="#tab2all">All (<%= @car_requests.length %>)</a>
    </li>
    <li>
      <a data-toggle="tab" href="#tab2financial">Financial (<%= @car_requests.select { |car_request| car_request.request_type == 'financial' }.length %>)</a>
    </li>
    <li>
      <a data-toggle="tab" href="#tab2fiftyfifty">50/50 (<%= @car_requests.select { |car_request| car_request.request_type == '50_50' }.length %>)</a>
    </li>
    <li>
      <a data-toggle="tab" href="#tab2private">Private (<%= @car_requests.select { |car_request| car_request.request_type == 'private' }.length %>)</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active slide-right" id="tab2all">

      <%= render 'car_requests', car_requests: @car_requests %>

    </div>
    <div class="tab-pane slide-right" id="tab2financial">

      <%= render 'car_requests', car_requests: @car_requests.select { |car_request| car_request.request_type == 'financial' } %>

    </div>
    <div class="tab-pane slide-right" id="tab2fiftyfifty">

      <%= render 'car_requests', car_requests: @car_requests.select { |car_request| car_request.request_type == '50_50' } %>

    </div>
    <div class="tab-pane slide-right" id="tab2private">

      <%= render 'car_requests', car_requests: @car_requests.select { |car_request| car_request.request_type == 'private' } %>

    </div>
  </div>
</div>

<% content_for :footer do %>
<% end %>