<!--[if lt IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<header class="main">

  <div class="top">
    <div class="wrapper">
      <%= link_to image_tag('logo_akp_1.png'), root_url, class: 'logo' %>
      <ul class="contact_icons">
        <li><a class="phone" href="tel:<%= StaticText.phone %>"><%= StaticText.phone %></a></li>
        <li><a class="whatsapp" href="tel:<%= StaticText.ash_whatsapp %>">WhatsApp <%= StaticText.ash_whatsapp %></a>
        </li>
        <li><a class="email" href="mailto:<%= StaticText.ash_email %>"><%= StaticText.ash_email %></a></li>
      </ul>
    </div>
  </div>

  <div class="bottom">
    <div class="wrapper">
      <ul class="left_menu">
        <li class="mobile">
          <a class="arrow" href="">Menu</a>
        </li>
        <li>
          <%= link_to 'Home', root_path %>
        </li>
        <li>
          <a class="arrow">Voorraad</a>
        </li>
        <li>
          <a class="arrow">Financieringen</a>
        </li>
        <li>
          <a class="arrow">Alles over Financieren</a>
        </li>
        <li>
          <a class="arrow">Contact</a>
        </li>
      </ul>
      <ul class="right_menu">
        <li class="search">
          <a href="">Auto zoeken</a>
        </li>
        <li class="language-switch">
          <h4 data-lang="nl">
            Nederlands<i class="icon arrow-white-down-small"></i>
          </h4>

          <div class="submenu">
            <ul>
              <li>
                <a href="#change-dutch" class="selected" data-lang="nl">Dutch</a>
              </li>
              <li>
                <a href="#change-english" data-lang="en">English</a>
              </li>
              <li>
                <a href="#change-german" data-lang="de">German</a>
              </li>
              <li>
                <a href="#change-french" data-lang="fr">French</a>
              </li>
              <li>
                <a href="#change-spanish" data-lang="es">Spanish</a>
              </li>
              <li>
                <a href="#change-turkish" data-lang="tr">Turkish</a>
              </li>
            </ul>
          </div>
          <!-- .submenu -->
        </li>
      </ul>

    </div>
    <!-- wrapper -->
  </div>
  <!-- bottom -->
  <div class="menu container-fluid">
    <div class="wrapper row">
      <ul class="stock_menu col-md-3 col-sm-6">
        <li class="head">Voorraad</li>
        <% cache do %>
            <% Brand.all_for_menu.each do |brand| %>
                <li><a href="<%= brand_cars_path brand %>"><%= brand.name %> (<%= brand.cars.count %>)</a></li>
            <% end %>
        <% end %>
      </ul>
      <ul class="financing col-md-3 col-sm-6">
        <li class="head">Financieringen</li>
        <li><%= link_to 'Zakelijke financiering', financing_cars_path('bussiness') %></li>
        <li><%= link_to 'Particuliere financiering', financing_cars_path('private') %></li>
        <li><%= link_to '50/50 Deals', financing_cars_path('50_50') %></li>
      </ul>
      <ul class="about_financing col-md-3 col-sm-6">
        <li class="head">Alles over Financieren</li>
        <% MenuItem.all.each do |menu_item| %>
            <li class="<%= menu_item.last ? 'last' : '' %>"><a href="<%= menu_item.path %>"><%= menu_item.label %></a>
            </li>
        <% end %>
      </ul>
      <ul class="contact col-md-3 col-sm-6">
        <li class="head">Contact</li>
        <li><a href="<%= page_path('sitemap') %>">Sitemap</a></li>
        <li><a href="<%= faqs_path %>">Veel gestelde vragen</a></li>
        <li><a href="<%= page_path('algemene-voorwaarden') %>">Algemene voorwaarden</a></li>
        <li><a href="<%= page_path('disclaimer') %>">Disclaimer</a></li>
      </ul>
      <div class="action_ col-md-8 pull-left">
        <%= image_tag 'AKP_action_slide.png', class: 'akp_banner' %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</header>

<%= render partial: 'layouts/search' %>
