<div class="menu-container">
  <div class="wrapper">

    <a class="close-link" href="">
      <i class="icon close"></i>
    </a>

    <div class="cols col-1">
      <h2>Menu</h2>

      <nav>
        <ul>
          <li><a href="<%= root_path %>"><%= StaticText.home_menu_link %></a></li>
          <li><a href="<%= cars_path %>"><%= StaticText.stock_menu_link %></a></li>
          <li><a href="<%= page_path('contact') %>">Contact</a></li>
          <li><a href="<%= blog_page_path('auto_blog') %>">Auto blog</a></li>
          <li><a href="<%= blog_page_path('our_workspace') %>">Onze werkplaats</a></li>
          <li><a href="<%= blog_page_path('auto_op_afbetaling') %>">Auto op afbetaling</a></li>
          <li><a href="<%= blog_page_path('full_operational_lease') %>">Full operational lease</a></li>
          <li><a href="<%= blog_page_path('lease_gebruikte_autos') %>">Lease gebruikte autos</a></li>
          <li><a href="<%= blog_page_path('opel_eyetracking') %>">Opel eye tracking</a></li>
          <li class="last"><a href="<%= blog_page_path('voordelen_financial_lease') %>">Voordelen financial lease</a></li>

          <li><%= link_to 'Particuliere financiering', financing_cars_path('private') %></li>
          <li><%= link_to 'Zakelijke financiering', financing_cars_path('bussiness') %></li>
          <li class="last"><%= link_to '50/50 Deals', financing_cars_path('50_50') %></li>

          <% MenuItem.all.each do |menu_item| %>
              <li class="<%= menu_item.last ? 'last' : '' %>"><a href="<%= menu_item.path %>"><%= menu_item.label %></a>
              </li>
          <% end %>

          <li><a href="<%= page_path('sitemap') %>">Sitemap</a></li>
          <li><a href="<%= faqs_path %>">Faq</a></li>
          <li><a href="<%= page_path('algemene-voorwaarden') %>">Algemene voorwaarden</a></li>
          <li><a href="<%= page_path('disclaimer') %>">Disclaimer</a></li>
        </ul>
      </nav>

      <div class="social-media">
        <h2>Share on social media</h2>

        <p>
          <% unless StaticText.facebook_url.blank? %>
              <a href="<%= StaticText.facebook_url %>" target="_blank"><i class="icon facebook"></i></a>
          <% end %>
          <% unless StaticText.twitter_url.blank? %>
              <a href="<%= StaticText.twitter_url %>" target="_blank"><i class="icon twitter"></i></a>
          <% end %>
          <% unless StaticText.google_plus_url.blank? %>
              <a href="<%= StaticText.google_plus_url %>" target="_blank"><i class="icon google-plus"></i></a>
          <% end %>
          <% unless StaticText.pinterest_url.blank? %>
              <a href="<%= StaticText.pinterest_url %>" target="_blank"><i class="icon pinterest"></i></a>
          <% end %>
          <a href="mailto:<%= StaticText.ash_email %>" target="_blank"><i class="icon mail"></i></a>
        </p>
      </div>
      <!-- .social-media -->
    </div>
    <!-- .cols -->

    <div class="cols col-2">
      <h2>Voorraad</h2>

      <ul>
        <% cache do %>
            <% Brand.all_for_menu.each do |brand| %>
                <li><a href="<%= brand_cars_path brand %>"><%= brand.name %> (<%= brand.cars.length %>)</a></li>
            <% end %>
        <% end %>
      </ul>
    </div>
    <!-- .cols -->

    <div class="cols col-3">
      <h2>Contact</h2>

      <address>
        <%= StaticText.address_name %><br/>
        <%= StaticText.address_street %><br/>
        <%= StaticText.address_zip_plus_city %>
      </address>
      <p>
        <a href="" class="plan" target="_blank"><%= StaticText.plan_route %></a>
      </p>

      <p>&nbsp;</p>

      <p>
        T. <a href="tel:<%= StaticText.phone %>"><%= StaticText.phone %></a>
      </p>

      <p>
        E. <a href="mailto:<%= StaticText.ash_email %>" target="_blank"><%= StaticText.ash_email %></a>
      </p>

      <p>
        F. <a href="<%= StaticText.facebook_url %>" target="_blank"><%= StaticText.facebook_url %></a>
      </p>

      <h2><%= StaticText.opening_hours %></h2>
      <dl>
        <dt><%= StaticText.opening_hours_head_1 %></dt>
        <dd><%= StaticText.opening_hours_1 %></dd>

        <dt><%= StaticText.opening_hours_head_2 %></dt>
        <dd><%= StaticText.opening_hours_2 %></dd>

        <dt><%= StaticText.opening_hours_head_3 %></dt>
        <dd><%= StaticText.opening_hours_3 %></dd>
      </dl>
    </div>
    <!-- .cols -->

  </div>
  <!-- .wrapper -->
</div> <!-- .menu -->
